*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(130deg, #251b5e, #473c6e);
  padding: 10px;
}

.todo-app h2 img{
  width: 25x;
  height: 27px;
  margin-left: 10px;
}

.todo-app{
  width: 100%;
  max-width: 540px;
  background-color: white;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.todo-app h2{
  color: #251b5e;
  font-size: bold;
  display: flex;
  align-items: center;
  margin: 20px;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
}

button{
  border: none;
  outline: none;
  padding: 14px 41px;
  background-color:#251b5e;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 40px;
}

ul li{
  list-style: none;
  font-size: 16px;
  padding: 12px 4px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before{
  content: '';
  position: absolute;
  height: 25px;
  width: 28px;
  border-radius: 50%;
  background-image: url(img/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 10px;
  left: 6px;
}

ul li.checked{
  color: #251b5e;
  text-decoration: line-through;
}

ul li.checked::before{
  background-image: url(img/checked.png);
}

ul li span{
  position: absolute;
  right: 0;
  top: 8px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #251b5e;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover
{
  background: rgb(246, 240, 240)
}